Repository DaveO280/Amach-Website: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["pnpm prettier --write", "pnpm eslint --fix"],
  "**/*.{js,jsx,json,css,scss,md}": ["pnpm prettier --write"]
}

fix(dexa-parser): promote BMD from regions.total to boneDensityTotal
  src/utils/reportParsers/index.ts
Due: pnpm prettier --write, pnpm eslint --fix

test(dexa): add quick BMD promotion verification script
  scripts/test-bmd-fix.ts
Due: pnpm prettier --write, pnpm eslint --fix

chore: add V4 attestation deployment script
  scripts/deploy-v4-attestation.js
Due: pnpm prettier --write

test(v4): add comprehensive pre/post deployment verification script
  scripts/test-v4-deployment.ts
Due: pnpm prettier --write, pnpm eslint --fix

fix(build): restore webpack-viem-test-stub.js required by next.config.js
  webpack-viem-test-stub.js
Due: pnpm prettier --write

fix(v4): reduce contract bytecode size for deployment
  contracts/SecureHealthProfileV4.sol
  hardhat.config.zksync.js
Due: pnpm prettier --write

V4 attestation: size fix, upgradeToAndCall deploy script, config
  DEPLOY-V4.md
  contracts/SecureHealthProfileV3.sol
  contracts/SecureHealthProfileV4.sol
  hardhat.config.js
  hardhat.config.zksync.js
  package.json
  pnpm-lock.yaml
  scripts/deploy-v4-attestation.js
Due: pnpm prettier --write

feat(wallet): add health data attestation badges to wallet widget
  src/components/WalletSummaryWidget.tsx
  src/hooks/useAttestations.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat(attestation): add auto and manual attestation for health reports
  src/components/ai/ReportParserViewer.tsx
  src/components/storage/StorageManagementSection.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(upload): enable Storj save dialog for production
  src/components/ai/CosaintChatUI.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(storj): prevent Privy wallet crash on rapid signature requests
  src/components/ai/CosaintChatUI.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(storj): make report saves sequential to prevent Privy wallet crash
  src/components/ai/CosaintChatUI.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(hardhat): add ethers plugin and accounts to zkSync config
  hardhat.config.zksync.js
Due: pnpm prettier --write

fix(hardhat): add viaIR and zksolc optimizer for V4 compilation
  hardhat.config.zksync.js
Due: pnpm prettier --write

Attestation: hasProfile check, Privy embedded wallet preference, zkSync config, check-has-profile script
  hardhat.config.zksync.js
  scripts/check-has-profile.ts
  src/hooks/usePrivyWalletService.ts
  src/storage/AttestationService.ts
Due: pnpm prettier --write, pnpm eslint --fix

Attestation: decode revert reason (E0-E7) and show user-facing error messages
  src/storage/AttestationService.ts
Due: pnpm prettier --write, pnpm eslint --fix

Fix Storj/timeline writes for V4: use addHealthEventV2, descriptive attestation errors, upgrade notes
  DEPLOY-V4.md
  deployments/HEALTH-EVENT-UPGRADE-NOTES.md
  src/components/ai/CosaintChatUI.tsx
  src/components/ai/ReportParserViewer.tsx
  src/components/storage/StorageManagementSection.tsx
  src/lib/contractConfig.ts
  src/services/HealthEventService.ts
  src/storage/AttestationService.ts
  src/storage/index.ts
Due: pnpm prettier --write, pnpm eslint --fix

Fix attest button: retrieve report via API (server has Storj creds)
  src/components/storage/StorageManagementSection.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Attestation: ensure endDate > startDate for DEXA/Bloodwork (E2 fix); date range only meaningful for Apple Health
  src/storage/AttestationService.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat(storj): add Apple Health full export to Storj with aggregation
  src/components/HealthDataSelector.tsx
  src/data/parsers/XMLStreamParser.ts
  src/storage/__tests__/AppleHealthStorjService.test.ts
  src/storage/appleHealth/AppleHealthStorjService.ts
  src/storage/appleHealth/index.ts
  src/storage/appleHealth/metricAggregationStrategies.ts
Due: pnpm prettier --write, pnpm eslint --fix

fix(storj): use API route for Apple Health Storj upload
  src/storage/appleHealth/AppleHealthStorjService.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat(storage): add Apple Health export metadata to Storage Manager
  src/components/storage/StorageManagementSection.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(attestation): wire up Apple Health attestation after Storj save
  src/components/HealthDataSelector.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Verified Data: fix Apple Health tier showing grey (handle viem tuple/object return, normalize tier)
  src/components/WalletSummaryWidget.tsx
  src/hooks/useAttestations.ts
Due: pnpm prettier --write, pnpm eslint --fix

Verified Data: derive tier from score when contract returns 0; coerce tier for badge color
  src/components/WalletSummaryWidget.tsx
  src/hooks/useAttestations.ts
Due: pnpm prettier --write, pnpm eslint --fix

Verified Data: Badge outline + tier-from-score; attestationTier util + tests; DEXA icon ScanLine
  src/components/WalletSummaryWidget.tsx
  src/hooks/useAttestations.ts
  src/utils/__tests__/attestationTier.test.ts
  src/utils/attestationTier.ts
Due: pnpm prettier --write, pnpm eslint --fix

Verified Data: use manifest completeness for Apple Health (88% not 18%); refresh when attestation created; normalize score
  src/components/HealthDataSelector.tsx
  src/components/WalletSummaryWidget.tsx
  src/components/ai/ReportParserViewer.tsx
  src/components/storage/StorageManagementSection.tsx
  src/hooks/useAttestations.ts
  src/storage/AttestationService.ts
  src/storage/StorjReportService.ts
  src/utils/__tests__/attestationTier.test.ts
Due: pnpm prettier --write, pnpm eslint --fix

fix(build): move attestation event to utils so API route does not import React hooks
  src/hooks/useAttestations.ts
  src/storage/StorjReportService.ts
  src/utils/attestationEvents.ts
Due: pnpm prettier --write, pnpm eslint --fix

Fix Apple Health duplicate data on successive uploads
  src/components/HealthDataSelector.tsx
  src/utils/dataDeduplicator.ts
Due: pnpm prettier --write, pnpm eslint --fix

Make Storj Apple Health backup incremental instead of full re-upload
  src/storage/appleHealth/AppleHealthStorjService.ts
Due: pnpm prettier --write, pnpm eslint --fix

docs: add shared design system for web and iOS consistency
  DESIGN-SYSTEM.md
Due: pnpm prettier --write

Rebrand the AI companion from Cosaint to Luma and align prompts/imports across services, store, agents, and tests.
  package.json
  pnpm-lock.yaml
  src/agents/ActivityEnergyAgent.ts
  src/agents/BloodworkAgent.ts
  src/agents/CardiovascularAgent.ts
  src/agents/CoordinatorAgent.ts
  src/agents/DexaAgent.ts
  src/agents/RecoveryStressAgent.ts
  src/ai/__tests__/contextPreprocessor.test.ts
  src/app/api/ai/chat/route.ts
  src/components/ai/CosaintChatUI.tsx
  src/components/ai/GoalsTab.tsx
  src/components/ai/luma.ts
  src/data/store/chatHistoryStore.ts
  src/interfaces/IAiService.ts
  src/services/LumaAiService.ts
  src/store/aiStore.tsx
  src/utils/__tests__/chatContextSelector.test.ts
  src/utils/aiPromptBuilders.ts
  src/utils/veniceThinking.ts
Due: pnpm prettier --write, pnpm eslint --fix

Fix empty Luma replies: add venice_parameters to /api/ai/chat
  src/app/api/ai/chat/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

Fix empty replies: increase max_tokens to cover GLM-4.7 thinking budget
  src/app/api/ai/chat/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

health context: fix sleep units, add restingHR/VO2/respiratoryRate
  src/app/api/ai/chat/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

docs: add brief February 2026 website progress snapshot
  FEBRUARY-2026-WEBSITE-PROGRESS.md
Due: pnpm prettier --write

docs: add initial iOS progress snapshot as of March 1
  FEBRUARY-2026-WEBSITE-PROGRESS.md
Due: pnpm prettier --write

Update all icons to new AH flat logo
  public/apple-touch-icon.png
  public/icon.png
  public/icon.svg
Due: none

Add POST /api/profile/read for backend-resolved on-chain profile (iOS Profile Basics)
  src/app/api/profile/read/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

Add contextBlocks support to AI chat route
  src/app/api/ai/chat/route.ts
Due: pnpm prettier --write, pnpm eslint --fix
