Repository DaveO280/Amach-Website: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["pnpm prettier --write", "pnpm eslint --fix"],
  "**/*.{js,jsx,json,css,scss,md}": ["pnpm prettier --write"]
}

chore: remove internal optimization summary
  OPTIMIZATION_SUMMARY.md
Due: pnpm prettier --write

chore: remove root-level DEPLOYMENT.md (duplicate of deployments/DEPLOYMENT.md)
  DEPLOYMENT.md
Due: pnpm prettier --write

chore: remove binary zip blob
  compressed.zip
Due: none

chore: remove binary zip blob
  src zipped.zip
Due: none

chore: remove committed log file
  dev-server.log
Due: none

chore: remove committed log file
  dev.log
Due: none

chore: remove Windows batch script from root
  delete_dead_code.bat
Due: none

chore: remove PowerShell script from root
  start-servers.ps1
Due: none

chore: remove empty tracking data placeholder
  tracking-data.json
Due: pnpm prettier --write

chore: remove temp ABI file
  temp-abi.json
Due: pnpm prettier --write

chore: remove empty vercel marker file
  .vercel-deploy
Due: none

chore: remove npm registry schema dump
  package-schema.json
Due: pnpm prettier --write

security: harden supply chain defences and add CI test suite
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security-audit.yml
  .npmrc
  .nvmrc
  e2e/security/headers.spec.ts
  e2e/smoke/pages.spec.ts
  next.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/__tests__/security/hardening.test.ts
  src/utils/pdfParser.ts
  vercel.json
Due: pnpm prettier --write, pnpm eslint --fix

fix: correct dependabot groups update-types value
  .github/dependabot.yml
Due: none

fix: resolve all production CVEs, scope audit to prod deps only
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

fix: scope picomatch/path-to-regexp overrides to avoid breaking jest
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

ci: add jest JSON output and artifact upload to diagnose unit test failures
  .github/workflows/ci.yml
Due: none

ci: emit ::error:: annotations so failing tests show in check-runs API
  .github/workflows/ci.yml
Due: none

ci: fix diagnostic script to print raw JSON on failure
  .github/workflows/ci.yml
Due: none

fix(ci): lazy-require webpack in next.config.js to fix unit tests on CI
  next.config.js
Due: pnpm prettier --write

ci: remove temporary diagnostic scaffolding from unit-tests job
  .github/workflows/ci.yml
Due: none

ci: use run-specific artifact name to prevent cross-run collisions
  .github/workflows/ci.yml
Due: none

ci: rebuild in E2E job to avoid unreliable artifact passing
  .github/workflows/ci.yml
Due: none

fix(vercel): enable Corepack so pnpm@10 lockfile is respected
  vercel.json
Due: pnpm prettier --write

fix(vercel): use corepack enable in install command for pnpm@10
  vercel.json
Due: pnpm prettier --write

fix(vercel): use npx pnpm@10.4.1 to bypass Vercel's pnpm@9 detection
  vercel.json
Due: pnpm prettier --write

docs: reorganize — move technical docs to docs/ and deployments/
  deployments/DEPLOY-V4.md
  docs/DESIGN-SYSTEM.md
  docs/KNOWN-ISSUES.md
  docs/SECURITY-FIXES.md
  docs/TESTING-EMAIL-SIGNUP.md
  docs/TESTING_STRATEGY.md
Due: pnpm prettier --write

chore: add missing .gitignore entries for keys, certs, zk artifacts, .cursor
  .gitignore
Due: none

chore: fix .docs-config.json stale file references after cleanup
  .docs-config.json
Due: pnpm prettier --write

chore: remove committed hardhat build cache
  cache-zk/solidity-files-cache.json
Due: pnpm prettier --write

chore: remove Cursor editor config (personal dev tool)
  .cursor/rules/development-guide.mdc
Due: none

chore: remove macOS Finder metadata artifacts
  public/venice-logo/__MACOSX/._Venice Lockup SVG
Due: none

chore: remove macOS Finder metadata artifacts
  public/venice-logo/__MACOSX/Venice Lockup SVG/._.DS_Store
Due: none

chore: remove macOS Finder metadata artifacts
  public/venice-logo/__MACOSX/Venice Lockup SVG/._venice-logo-lockup-black.svg
Due: none

chore: remove macOS Finder metadata artifacts
  public/venice-logo/__MACOSX/Venice Lockup SVG/._venice-logo-lockup-red.svg
Due: none

chore: remove macOS Finder metadata artifacts
  public/venice-logo/__MACOSX/Venice Lockup SVG/._venice-logo-lockup-white.svg
Due: none

chore: remove from root — moved to docs/DESIGN-SYSTEM.md
  DESIGN-SYSTEM.md
Due: pnpm prettier --write

chore: remove from root — moved to docs/TESTING_STRATEGY.md
  TESTING_STRATEGY.md
Due: pnpm prettier --write

chore: remove from root — moved to docs/TESTING-EMAIL-SIGNUP.md
  TESTING-EMAIL-SIGNUP.md
Due: pnpm prettier --write
