Repository DaveO280/Amach-Website: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["pnpm prettier --write", "pnpm eslint --fix"],
  "**/*.{js,jsx,json,css,scss,md}": ["pnpm prettier --write"]
}

Refine tsconfig.json and update ESLint configuration
  .husky/pre-commit
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  eslint.config.js
  next.config.js
  postcss.config.js
  src/app/globals.css
  src/app/icon-preview/page.tsx
  src/app/layout.tsx
  src/app/learn/page.tsx
  src/app/mission/page.tsx
  src/app/whitepaper/content.ts
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/sheet.tsx
  src/lib/utils.ts
  src/types/whitepaper.ts
  tailwind.config.ts
  tsconfig.json
Due: pnpm prettier --write, pnpm eslint --fix

Updated next.config.js to use ES module syntax
  next.config.js
Due: pnpm prettier --write

Update taiwind.config.ts and postcss.config.js
  postcss.config.js
Due: pnpm prettier --write

Update .vscode/settings next.config.js package-schema.json package.json pnpm-lock.yaml
  .vscode/settings.json
  package-schema.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

Update postcss.config.js
  postcss.config.js
Due: pnpm prettier --write

Fixed build configuration and module system issues
  .eslintrc.json
  .npmrc
  eslint.config.js
  next.config.js
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.js
  postcss.config.mjs
  src/app/whitepaper/print/page.tsx
  tsconfig.json
Due: pnpm prettier --write, pnpm eslint --fix

test commit with prettier config
  .eslintrc.json
  .prettierrc.json
Due: pnpm prettier --write

Added build:prod
  package.json
Due: pnpm prettier --write

Modified src/app/page.tsx
  src/app/page.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Integrate my-health-app into main project and update HealthDashboardModal
  src/app/page.tsx
  src/components/HealthDashboardModal.tsx
  tsconfig.json
Due: pnpm prettier --write, pnpm eslint --fix

Remove my-health-app-backup from Git tracking
  .gitignore
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

Update Next.js config to include my-health-app directory
  next.config.mjs
Due: none

Ensure my-health-app is included in Vercel deployment
  .vercelignore
Due: none

Mobile friendly changes to UI/Charts
  src/components/HealthDashboardModal.tsx
  src/components/ui/dropdown-menu.tsx
  src/my-health-app/components/HealthDataSelector.tsx
  src/my-health-app/components/dashboard/charts/StepCountChart.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Fixed dropdown card persistence in mobile
  src/components/HealthDashboardModal.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Added Beta Noti
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/components/BetaNotification.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Fixed dropdown persistence on mobile
  src/app/page.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Mobile improvements
  src/components/HealthDashboardModal.tsx
  src/my-health-app/components/HealthDataSelector.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Mobile Header improvements
  src/components/HealthDashboardModal.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Added AI Integration
  .env.example
  .gitignore
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/api/VeniceApiService.ts
  src/app/api/hello/route.ts
  src/app/api/test-venice/route.ts
  src/app/api/venice/route.ts
  src/app/icon-preview/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/AiCompanionModal.tsx
  src/components/CosaintChat.tsx
  src/components/HealthDashboardModal.tsx
  src/components/HealthDataContextWrapper.tsx
  src/components/SharedProvidersWrapper.tsx
  src/components/ai/CosaintChatUI.tsx
  src/components/ai/HealthDataProvider.tsx
  src/components/ai/HealthInsightsUI.tsx
  src/components/ai/HealthStatCards.tsx
  src/components/ai/characteristicsLoader.ts
  src/components/ai/cosaint.ts
  src/components/ai/types.ts
  src/lib/agent/hooks/useCosaintAgent.ts
  src/lib/agent/types.ts
  src/my-health-app/components/ClientWrapper.tsx
  src/my-health-app/components/dashboard/HealthDashboard.tsx
  src/my-health-app/store/healthDataStore/provider.tsx
  src/my-health-app/store/selectionStore/provider.tsx
  src/my-health-app/types/healthData.ts
  src/my-health-app/utils/formatters.ts
  src/services/CosaintAiService.ts
  src/store/aiStore.tsx
  src/types/uuid.d.ts
  src/utils/ai/useHealthDataForAi.ts
  src/utils/logger.ts
  tsconfig.json
Due: pnpm prettier --write, pnpm eslint --fix

Added UUID Dependency
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

Updated protocols
  src/api/VeniceApiService.ts
  src/app/api/test-venice/route.ts
  src/app/api/venice/route.ts
  src/services/CosaintAiService.ts
  src/store/aiStore.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Updated models across the program
  src/api/VeniceApiService.ts
  src/app/api/venice/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

Updated API routing
  src/api/VeniceApiService.ts
  src/app/api/venice/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

Updated token allowances
  src/api/VeniceApiService.ts
  src/app/api/venice/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

Updated run times
  src/api/VeniceApiService.ts
  src/app/api/test-venice/route.ts
  src/app/api/venice/route.ts
  vercel.json
Due: pnpm prettier --write, pnpm eslint --fix

Vercel duration modification
  vercel.json
Due: pnpm prettier --write

🔒 Security updates: Fix critical and high vulnerabilities
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

🔧 Fix PDF.js version mismatch error
  src/utils/pdfParser.ts
Due: pnpm prettier --write, pnpm eslint --fix

🔧 Fix PDF.js worker issues by disabling worker
  src/utils/pdfParser.ts
Due: pnpm prettier --write, pnpm eslint --fix

🔧 Fix PDF.js worker file extension
  ZKSYNC_DEPLOYMENT_ROADMAP.md
  src/utils/pdfParser.ts
  tall pdfjs-dist@3.11.174
Due: pnpm prettier --write, pnpm eslint --fix

🔧 Fix PDF.js worker and update dependencies
  src/api/venice/VeniceApiService.ts
  src/app/api/venice/route.ts
  src/components/ai/CosaintChatUI.tsx
  src/services/CosaintAiService.ts
  src/store/aiStore.tsx
Due: pnpm prettier --write, pnpm eslint --fix

🔧 Fix PDF.js worker initialization race condition
  c --noEmit
  src/utils/pdfParser.ts
Due: pnpm prettier --write, pnpm eslint --fix

🔧 Fix production PDF.js issues
  next.config.js
  next.config.mjs
  src/utils/pdfParser.ts
Due: pnpm prettier --write, pnpm eslint --fix

fix: skip husky install on Vercel deployment
  package.json
Due: pnpm prettier --write

fix: add vercel-build script to skip dev dependencies
  package.json
Due: pnpm prettier --write
