Repository DaveO280/Amach-Website: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

fix(ui): add dark mode text color to HealthProfileManager headings
  src/components/HealthProfileManager.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(wallet): align wallet page to approved mockup design
  src/app/wallet/page.tsx
  src/components/HealthProfileManager.tsx
  src/components/WalletSummaryWidget.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(wallet): fix wordmark class, replace Card wrappers with design-token divs
  src/app/wallet/page.tsx
  src/components/health/QuarterlyAggregateGenerator.tsx
  src/components/storage/StorageManagementSection.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(storage): replace shadcn Button with plain button in error retry state
  src/components/storage/StorageManagementSection.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(wallet): add light/dark theme toggle to wallet page nav
  src/app/wallet/page.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(dashboard): replace shadcn components with design-token divs for dark mode
  src/components/OnChainProfileDisplay.tsx
  src/components/ai/HealthScoreCards.tsx
  src/components/ai/HealthScoreTrends.tsx
  src/components/dashboard/HealthDashboard.tsx
  src/components/dashboard/MetricSummary.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(dashboard): apply dark mode styling to Zoom Out buttons in chart components
  src/components/dashboard/charts/ChartContainer.tsx
  src/components/dashboard/charts/DistanceChart.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(HealthDataSelector): remove File Type Guide box, restyle XML warning, add Clear All Data confirmation modal
  src/components/HealthDataSelector.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(nav): drop nav z-index behind modal backdrop; fix connected badge color
  src/app/globals.css
  src/components/CryptoWallet.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Fix: overlay nav when Privy modal is open
  src/app/globals.css
Due: pnpm prettier --write

fix(nav): add ::before overlay so nav dim covers full viewport including nav area
  src/app/globals.css
Due: pnpm prettier --write

fix(dark-mode): fix 3 dark mode issues — Connected badge, nav overlay, Storage Management
  src/app/globals.css
  src/components/storage/StorageManagementSection.tsx
  src/components/ui/button.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(dark-mode): replace hardcoded red-50/red-200 in StorageManagementSection
  src/components/storage/StorageManagementSection.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(modal): Baskerville font, emerald+white Connected badge, hide nav on modal open
  src/app/globals.css
  src/components/HealthDashboardModal.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(modal): stacked shimmer wordmark in Health Dashboard modal header
  src/app/globals.css
  src/components/HealthDashboardModal.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(hero): rename CTA to "New User? Start here →", wire to onboarding modal
  src/app/page.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat(onboarding): redesign OnboardingModal + WalletSetupWizard — light mode, brand copy, correct tokens
  src/components/OnboardingModal.tsx
  src/components/WalletSetupWizard.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(ui): force white bg on OnboardingModal, fix outline buttons in chat
  src/components/OnboardingModal.tsx
  src/components/ai/CosaintChatUI.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(ui): replace bg-white with page gradient on modal backgrounds
  src/components/OnboardingModal.tsx
  src/components/WalletSetupWizard.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(onboarding): tighten spacing so Begin button is visible without scroll
  src/components/OnboardingModal.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(ui): revert WalletSetupWizard gradient, surgical OnboardingModal spacing
  src/components/OnboardingModal.tsx
  src/components/WalletSetupWizard.tsx
Due: pnpm prettier --write, pnpm eslint --fix

revert(wizard): restore WalletSetupWizard.tsx to claude/kind-solomon state
  src/components/WalletSetupWizard.tsx
Due: pnpm prettier --write, pnpm eslint --fix

restore: WalletSetupWizard.tsx from approved redesign at 955f658
  src/components/WalletSetupWizard.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(wizard): dark mode gradient, emerald back button, add close button
  src/components/WalletSetupWizard.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(wizard): data-theme=light on wrapper, plain button for Back
  src/components/WalletSetupWizard.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(wizard): !important bg-white on Card, remove ineffective data-theme
  src/components/WalletSetupWizard.tsx
Due: pnpm prettier --write, pnpm eslint --fix

fix(ui): remove wizard Back btn, make onboarding Back btn emerald
  src/components/OnboardingModal.tsx
  src/components/WalletSetupWizard.tsx
Due: pnpm prettier --write, pnpm eslint --fix

chore: trigger Vercel preview deploy for final test branch
  .vercel-deploy
Due: none

security: remove private key - COMPROMISED, must rotate immediately
  ca.key
Due: none

security: remove private key - COMPROMISED, must rotate immediately
  cert.key
Due: none

chore: remove certificate files from root
  ca.crt
Due: none

chore: remove certificate files from root
  cert.crt
Due: none

chore: remove stale monthly dev log (Dec 2025)
  DECEMBER-2025-CHANGELOG.md
Due: pnpm prettier --write

chore: remove stale monthly dev log (Jan 2026)
  JANUARY-2026-ACCOMPLISHMENTS.md
Due: pnpm prettier --write

chore: remove stale monthly dev log (Feb 2026)
  FEBRUARY-2026-WEBSITE-PROGRESS.md
Due: pnpm prettier --write

chore: remove off-topic ML research document
  SleepFM.md
Due: pnpm prettier --write

chore: remove internal architecture plan (not for public repo)
  TOOL-USE-IMPLEMENTATION-PLAN.md
Due: pnpm prettier --write

security: remove internal security analysis with attack vectors
  TOOL-USE-SECURITY-ANALYSIS.md
Due: pnpm prettier --write

chore: remove internal developer optimization guide
  AGENT_OPTIMIZATION_GUIDE.md
Due: pnpm prettier --write

Path conditions:
  pnpm prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{js,jsx,json,css,scss,md})
  pnpm eslint --fix: any of: **/*.{ts,tsx}
