Repository DaveO280/Amach-Website: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

fix(zk-local): snarkjs 0.7 powersoftau prepare phase2 + zkey verify r1cs
  zk-local/scripts/full-prove.sh
Due: none

fix(ai-chat): raise token ceiling, accept healthContext alias, expand HealthContext interface
  src/app/api/ai/chat/route.ts
  src/app/api/venice/route.ts
  tsconfig.json
Due: pnpm prettier --write, pnpm eslint --fix

fix(ai-chat): prompt — cite specific values, surface anomalies explicitly
  src/app/api/ai/chat/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

Update security-audit.yml
  .github/workflows/security-audit.yml
Due: none

Fix syntax error in security audit workflow
  .github/workflows/security-audit.yml
Due: none

Update security audit workflow for dependency checks
  .github/workflows/security-audit.yml
Due: none

Update lodash version in package.json
  package.json
Due: pnpm prettier --write

Change audit level from high to critical
  .github/workflows/security-audit.yml
Due: none

Update lodash dependency version
  package.json
Due: pnpm prettier --write

fix(ai-chat): recency-positioned memory summary + natural cross-reference prompt
  src/app/api/ai/chat/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

chore(deps): pin patched transitive deps via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

fix(ai-chat): prompt — anchor follow-ups to prior response, not raw context
  src/app/api/ai/chat/route.ts
Due: pnpm prettier --write, pnpm eslint --fix

Replace whitepaper placeholder with full-design page
  src/app/whitepaper/page.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Revamp dashboard charts to Amach design system
  src/components/dashboard/charts/ActiveEnergyChart.tsx
  src/components/dashboard/charts/ChartContainer.tsx
  src/components/dashboard/charts/DistanceChart.tsx
  src/components/dashboard/charts/ExerciseTimeChart.tsx
  src/components/dashboard/charts/HRDistributionChart.tsx
  src/components/dashboard/charts/HRVChart.tsx
  src/components/dashboard/charts/HeartRateChart.tsx
  src/components/dashboard/charts/SleepAnalysisChart.tsx
  src/components/dashboard/charts/StepCountChart.tsx
Due: pnpm prettier --write, pnpm eslint --fix

Add dev-only ZK genesis and coverage proof API endpoints.
  src/app/api/merkle/genesis/route.ts
  src/app/api/proofs/coverage/generate/route.ts
  src/app/api/proofs/coverage/verify/route.ts
  src/zk/devZkCoverageService.ts
Due: pnpm prettier --write, pnpm eslint --fix

Harden dev ZK endpoints for safer local verification flow.
  src/app/api/merkle/genesis/route.ts
  src/app/api/proofs/coverage/generate/route.ts
  src/app/api/proofs/coverage/verify/route.ts
  src/zk/devZkCoverageService.ts
Due: pnpm prettier --write, pnpm eslint --fix

Fix Vercel build: Recharts 3 types, ZK deps, Privy optional peer
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/dashboard/charts/ActiveEnergyChart.tsx
  src/components/dashboard/charts/DistanceChart.tsx
  src/components/dashboard/charts/ExerciseTimeChart.tsx
  src/components/dashboard/charts/HRDistributionChart.tsx
  src/components/dashboard/charts/HRVChart.tsx
  src/components/dashboard/charts/HeartRateChart.tsx
  src/components/dashboard/charts/SleepAnalysisChart.tsx
  src/components/dashboard/charts/StepCountChart.tsx
  src/components/dashboard/charts/useChartZoom.ts
  src/types/snarkjs.d.ts
  src/zk/devZkCoverageService.ts
  tsconfig.json
  webpack-farcaster-mini-app-solana-stub.js
Due: pnpm prettier --write, pnpm eslint --fix

Clarify ZK toolchain path and missing-artifact error for coverage proofs
  src/zk/devZkCoverageService.ts
Due: pnpm prettier --write, pnpm eslint --fix

Pad Merkle tree to 2^8 leaves to match coverage circuit depth 8
  src/zk/devZkCoverageService.ts
Due: pnpm prettier --write, pnpm eslint --fix

Productionize coverage proof endpoint: Solidity format, no prod gate
  src/app/api/proofs/coverage/generate/route.ts
  src/app/api/proofs/coverage/verify/route.ts
  src/zk/devZkCoverageService.ts
Due: pnpm prettier --write, pnpm eslint --fix

Fix verify endpoint to accept Solidity proof format
  src/app/api/proofs/coverage/verify/route.ts
  src/zk/devZkCoverageService.ts
Due: pnpm prettier --write, pnpm eslint --fix

Add Groth16 CoverageVerifier contract and deploy script
  contracts/CoverageVerifier.sol
  scripts/deploy-coverage-verifier.js
Due: pnpm prettier --write

Register CoverageVerifier address in CONTRACT_ADDRESSES
  src/lib/networkConfig.ts
Due: pnpm prettier --write, pnpm eslint --fix

Add CoverageRegistry contract: stores verified coverage proofs on-chain
  contracts/CoverageRegistry.sol
  scripts/deploy-coverage-registry.js
  src/lib/networkConfig.ts
Due: pnpm prettier --write, pnpm eslint --fix

Register CoverageRegistry address (0x8ce1bBeda99D629b1357133175E349990257EFda)
  src/lib/networkConfig.ts
Due: pnpm prettier --write, pnpm eslint --fix

Patch transitive deps to pass CI security audit.
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

feat(api): add /api/health/parse-report endpoint for AI+regex PDF parsing
  src/app/api/health/parse-report/route.ts
  src/utils/reportParsers/aiBloodworkParser.ts
  src/utils/reportParsers/aiDexaParser.ts
  src/utils/reportParsers/veniceClient.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add medical record type as catch-all for any uploaded PDF
  src/components/ai/CosaintChatUI.tsx
  src/components/ai/ReportParserViewer.tsx
  src/services/LumaAiService.ts
  src/types/reportData.ts
  src/utils/reportParsers/aiMedicalRecordParser.ts
  src/utils/reportParsers/index.ts
Due: pnpm prettier --write, pnpm eslint --fix

Add TestFlight beta link to homepage hero
  src/app/page.tsx
Due: pnpm prettier --write, pnpm eslint --fix

feat: add BREATHING_SESSION health event type
  src/types/healthEventTypes.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add markdown blog system with /blog (Insights) route
  content/blog/health-data-sovereignty.md
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/globals.css
  src/app/page.tsx
  src/lib/blog.ts
Due: pnpm prettier --write, pnpm eslint --fix

fix: resolve production build failures in blog system
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/globals.css
  src/lib/blog.ts
Due: pnpm prettier --write, pnpm eslint --fix

Add files via upload
  content/blog/in-plain-sight.md
Due: pnpm prettier --write

feat(legitimacy): ship Layer 1 verification script
  scripts/legitimacy/.gitignore
  scripts/legitimacy/README.md
  scripts/legitimacy/__tests__/checks/categoryA.test.ts
  scripts/legitimacy/__tests__/checks/categoryB.test.ts
  scripts/legitimacy/__tests__/checks/categoryC.test.ts
  scripts/legitimacy/__tests__/checks/categoryD.test.ts
  scripts/legitimacy/__tests__/checks/categoryE.test.ts
  scripts/legitimacy/__tests__/checks/categoryF.test.ts
  scripts/legitimacy/__tests__/cli.test.ts
  scripts/legitimacy/__tests__/datasets.test.ts
  scripts/legitimacy/__tests__/fixtures/crossPlatformVectors.ts
  scripts/legitimacy/__tests__/formatters.test.ts
  scripts/legitimacy/__tests__/generator.test.ts
  scripts/legitimacy/__tests__/leaf.test.ts
  scripts/legitimacy/__tests__/merkle.test.ts
  scripts/legitimacy/__tests__/pipeline.test.ts
  scripts/legitimacy/__tests__/stats.test.ts
  scripts/legitimacy/examples/legitimate-90d.json
  scripts/legitimacy/jest.config.js
  scripts/legitimacy/package-lock.json
  scripts/legitimacy/package.json
  scripts/legitimacy/src/checks/categoryA.ts
  scripts/legitimacy/src/checks/categoryB.ts
  scripts/legitimacy/src/checks/categoryC.ts
  scripts/legitimacy/src/checks/categoryD.ts
  scripts/legitimacy/src/checks/categoryE.ts
  scripts/legitimacy/src/checks/categoryF.ts
  scripts/legitimacy/src/cli.ts
  scripts/legitimacy/src/config.ts
  scripts/legitimacy/src/formatters/json.ts
  scripts/legitimacy/src/formatters/markdown.ts
  scripts/legitimacy/src/generator/datasets.ts
  scripts/legitimacy/src/generator/synthetic.ts
  scripts/legitimacy/src/index.ts
  scripts/legitimacy/src/leaf.ts
  scripts/legitimacy/src/merkle.ts
  scripts/legitimacy/src/pipeline.ts
  scripts/legitimacy/src/stats.ts
  scripts/legitimacy/src/types.ts
  scripts/legitimacy/tsconfig.json
Due: pnpm prettier --write, pnpm eslint --fix

feat: add AverageImprovementProofV1Verifier deploy script
  contracts/AverageImprovementProofV1Verifier.sol
  hardhat.config.js
  package.json
  pnpm-lock.yaml
  scripts/deploy-improvement-verifier.js
Due: pnpm prettier --write

fix: pin @openzeppelin/contracts(-upgradeable) to exact 5.4.0
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

refactor: organize contracts into subdirectories, group deploy scripts
  contracts/core/CoverageRegistry.sol
  contracts/core/HealthToken.sol
  contracts/core/ProfileVerification.sol
  contracts/core/ProfileVerificationV2.sol
  contracts/core/SecureHealthProfileV1.sol
  contracts/core/SecureHealthProfileV2.sol
  contracts/core/SecureHealthProfileV3.sol
  contracts/core/SecureHealthProfileV3_FromV1.sol
  contracts/core/SecureHealthProfileV4.sol
  contracts/escrow/.gitkeep
  contracts/proxies/ERC1967ProxyWrapper.sol
  contracts/verifiers/CoverageVerifier.sol
  deployments/DEPLOY-V4.md
  hardhat.config.zksync.js
  package.json
  pnpm-lock.yaml
  scripts/deploy/coverage-registry.js
  scripts/deploy/coverage-verifier.js
  scripts/deploy/v4-attestation.js
Due: pnpm prettier --write

feat: add SpringPushEscrowV1 — non-upgradeable prize escrow for Season One
  contracts/escrow/SpringPushEscrowV1.sol
  contracts/test/MockGroth16Verifier.sol
  scripts/deploy/spring-push-escrow.js
  test/SpringPushEscrowV1.test.js
Due: pnpm prettier --write

Path conditions:
  pnpm prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{js,jsx,json,css,scss,md})
  pnpm eslint --fix: any of: **/*.{ts,tsx}
